/*******************************
THE FOLLOWING STYLES ARE FOR MOBILE FIRST
********************************/

/*******************************
ICON FONTS FROM WWW.WELOVEICONFONTS.COM
********************************/
@import url(http://weloveiconfonts.com/api/?family=brandico|zocial);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

/********************************
GENERAL STYLES
********************************/
body {
    margin: 0 auto;
}

.logo {
    margin-top: 10px;
    text-align: center;
}

#web-logo {
    border-radius: 50%;
}

.contact-list {
    list-style-type: none;
    padding-left: 0px;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: black;
}

/*********************************
            NAV BAR
**********************************/
.navi {
    margin-top: 10px;
}
/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #32CD32;
    border-radius: 10px;
}

/* Float the list items side by side */
ul.topnav li {
    float: left;
}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */


/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {
    display: none;
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
      ul.topnav li:not(:first-child) {
            display: none;
      }

      ul.topnav li.icon {
            float: right;
            display: inline-block;
      }

      ul.topnav.responsive {
            position: relative;
      }

      ul.topnav.responsive li.icon {
            position: absolute;
            right: 0;
            top: 0;
      }
      ul.topnav.responsive li {
            float: none;
            display: inline;
      }
      ul.topnav.responsive li a {
            display: block;
            text-align: left;
      }
}

/*****************************
FOOTER SECTION
******************************/
.footer {
    margin-top: 15px;
    margin-bottom: 0px;
    background-color: #32CD32;
    border-radius: 10px;
    font-family: 'Fredoka One', cursive;
}
.footer-title{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/*ICON FONTS COLORS*/
.contact-item1 {
    color: #3b5998;
}

.contact-item2 {
    color: #1da1f2;
}

.contact-item3 {
    color: #d64937;
}

.contact-item4 {
    color: #1b86bd;
}

.contact-list li {
    margin-top: 10px;
    font-size: 17px;
}


/****************************
MEDIA QUERY FOR TABLET AND DESKTOP VIEW
*****************************/

@media screen and (min-width: 681px) {
    .selected {
        background-color: #228B22;
    }
}

@media screen and (min-width: 768px) {
    #web-logo {
        float: left;
        padding-left: 10px;
    }

    .title-section {
        padding-top: 20px;
    }

    .name,
    .title {
        float: right;
        clear: both;
    }

    ul.topnav li a:hover {
        background-color: tomato;
    }

    .contact-list li {
        display: inline;
        padding-bottom: 20px;
    }
}